


* {
    box-sizing: border-box;
    flex-shrink: 0;
}

html, body {
    margin: 0;
    padding: 0;
}


.site-container {
    max-width: 1100px;
    padding: 20px 40px;
    margin: auto;
}

.uploader {
    width: 100%;
    position: relative;
    overflow-y: scroll;
    box-sizing: content-box;
    display: flex;
    z-index: 0;
}

.overlay{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .2s;
    &.shrunk {
        transform: scale(0)
    }
}

.pulse{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loaded .pulse { display: none }

.pulsar {
    background: rgba(59, 179, 113, 1);
    animation-name: pulse;
    animation-iteration-count: infinite;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation-fill-mode: both;
    border: 1px solid mediumseagreen;
    transition: background-color .3s;
    animation-duration: 1.2s;
    &:nth-child(1){ animation-delay: 0s; }
    &:nth-child(2){ animation-delay: .3s }
    &:nth-child(3){ animation-delay: .6s }
}


.temp-status {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: mediumseagreen;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
    animation-name: blip;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    box-shadow: 0px 5px 8px rgba(0,0,0,.1);
}

.uploader .dropper { display: none }
.uploader .loader { display: none }

.hover .dropper { display: flex }
.loading .loader, .loaded .loader { display: flex }


.loader div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation-name: ellipse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: white;
    margin: 2px;
}
.loader div:nth-child(1){ animation-delay: 0s }
.loader div:nth-child(2){ animation-delay: .4s }
.loader div:nth-child(3){ animation-delay: .8s }

@keyframes ellipse {
    50%{
        transform: scale(.5);
    }
}



@keyframes pulse {
    0% {
        transform: scale(0);
    }
    50%{
        background: rgba(59, 179, 113, 1);
    }
    100% {
        background: rgba(59, 179, 113, 0);
        opacity: 0;
    }
}

@keyframes blip {
    50%{
        transform: scale(1.08);
    }
}



.entry {
    // transition: background-color .3s;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    position: relative; 
    white-space: nowrap;
    svg {
        width: auto;
        margin-right: 8px;
    }

    &.even {
        background: white;
    }
    &.odd {
        background: #f6f6f6;
    }
}

.sidecar .entry {
    &::after{
        position: absolute;
        right: 100%;
        top: 0;
        content: '';
        width: 30px;
        height: 100%;
        z-index: 2;
    }
    &.even::after{
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    &.odd::after{
        background: linear-gradient(to right,rgba(246, 246, 246,0), #f6f6f6);
    }
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dir-contents {
    transition-timing-function: linear;
}

.file-tree{
    flex-grow: 1;
    z-index: 0;
    position: relative;
    z-index: 0
}

.sidecar{
 flex-shrink: 0;
 position: sticky;
 right: 0;
 z-index: 1;
}

.static-col{
    width: 100px;
    padding: 0 12px;
    &.size{
        text-align: right;
    }
    &.modified-1{
        width: 150px;
    }
}

.header {
    background: #f0f0f0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,.08);
    font-weight: 300;
    color: rgba(0,0,0,.5);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
    position: relative;
    z-index: 10;
    
    & > * { 
        padding: 0 12px; 
    }
    & > *:not(:nth-child(1)) {
        border-left: 1px solid rgba(0,0,0,.08);
    }
    & > .name { flex-grow: 1; }
    & > .size { width: 100px; }
    & > .modified { width: 250px; }
}

.uploader-and-header{
    box-shadow: 0px 5px 8px rgba(0,0,0,.1);
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
}