* {
    box-sizing: border-box;
}

.red {
    background: red;
}

.uploader {
    height: 500px;
    width: 500px;
    border: 1px solid #eee;
    box-shadow: 0px 5px 8px rgba(0,0,0,.1);
    border-radius: 3px;
    position: relative;
}


.uploader .upload-active {
    height: 200px;
    width: 200px;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    display: flex;
    transition: .3s;
}

.pulse{
    position: absolute;
    height: 100%;
    width: 100%;
}

.loaded .pulse {
    display: none;
}

.killed {
    display: none;
}

.pulsar {
    background: rgba(59, 179, 113, 1);
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation-fill-mode: both;
    border: 1px solid mediumseagreen;
    transition: background-color .3s;
}

.pulsar:nth-child(1){
    animation-delay: .3s;
}

.hover .upload-active,
.loading .upload-active {
    transform: none;
}


.blue {
    background: blue;
}

.temp-status {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: mediumseagreen;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
    animation-name: blip;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    box-shadow: 0px 5px 8px rgba(0,0,0,.1);
}

.uploader .dropper { display: none }
.uploader .loader { display: none }

.hover .dropper { display: flex }
.loading .loader, .loaded .loader { display: flex }


.loader div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation-name: ellipse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: white;
    margin: 2px;
}
.loader div:nth-child(1){ animation-delay: 0s }
.loader div:nth-child(2){ animation-delay: .4s }
.loader div:nth-child(3){ animation-delay: .8s }

@keyframes ellipse {
    50%{
        transform: scale(.5);
    }
}



@keyframes pulse {
    0% {
        transform: scale(.3);
    }
    100% {
        background: rgba(59, 179, 113, 0);
        opacity: 0;
    }
}

@keyframes blip {
    50%{
        transform: scale(1.08);
    }
}