
$load-pct-width: 40px;
$load-files-width: 100px;
$load-progress-width: 200px;


* {
    box-sizing: border-box;
    flex-shrink: 0;
}

html, body {
    margin: 0;
    padding: 0;
}


.site-container {
    max-width: 1100px;
    padding: 20px 40px;
    margin: auto;
}


.uploader-and-header{
    width: 100%;
    overflow: hidden;
    padding: 0 12px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}


.header-container {
    display: flex;
    position: relative;
    z-index: 10;
    width: calc(100% - 2px);
    box-sizing: content-box;
    overflow: hidden;
}

.header {
    background: #eee; 
    display: flex;
    align-items: center;   
    font-weight: 300;
    color: rgba(0,0,0,.7);
    font-size: 14px;
    & > * { 
        padding: 0 12px; 
        border-left: 1px solid rgba(0,0,0,.08);
    }
    & > .name { flex-grow: 1; }
    & > .size { width: 100px; text-align: center; }
    & > .modified { width: 200px; text-align: center; }
}

.header:first-child > :nth-child(1) {
    border-left: none;
}

.uploader {
    width: calc(100% - 2px);
    position: relative;
    overflow-y: scroll;
    box-sizing: content-box;
    display: flex;
    z-index: 0;
    border: 1px solid #ccc;
    overflow-x: hidden;
    perspective: 120px;
    border-radius: 3px;
}

.entry {
    // transition: background-color .3s;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    position: relative; 
    white-space: nowrap;
    svg {
        width: auto;
        margin-right: 8px;
    }

    &.even {
        background: white;
    }
    &.odd {
        background: #f6f6f6;
    }
}

.sidecar .entry {
    &::after{
        position: absolute;
        right: 100%;
        top: 0;
        content: '';
        width: 18px;
        height: 100%;
        z-index: 2;
    }
    &.even::after{
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    &.odd::after{
        background: linear-gradient(to right,rgba(246, 246, 246,0), #f6f6f6);
    }
}


.sidecar, .header {
    transition: .2s;
}
.sidecar.retracted, .header.retracted {
    transform: translateX(100%);
}


* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dir-contents {
    transition-timing-function: linear;
}

.file-tree{
    flex-grow: 1;
    z-index: 0;
    position: relative;
    z-index: 0
}

.sidecar{
 flex-shrink: 0;
 position: absolute;
 right: 0;
 z-index: 1;
 *  {  
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        font-size: 14px;
    }
}

.static-col{
    width: 100px;
    padding: 0 12px;
    text-align: right;
    &.modified{
        width: 200px;
        color: rgba(0,0,0,.3);
    }
}


@import './overlay.scss';




////////


.entry.load-data.even{
    background: #555;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
}
.entry.load-data.odd{
    background: #555;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
}


.load-progress-header {
    width: $load-progress-width + $load-pct-width;
}

.load-progress-cell {
    width: $load-progress-width;
    padding: 0 24px;
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.load-track {
    width: 100%;
    height: 8px;
    transition: .2s;
    border-radius: 1000px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.15), 0 -1px 0 0 rgba(0,0,0,.25);
    &.error .load-progress {
        background: tomato;
    }
}

.load-progress{
    height: 100%;
    background: mediumseagreen;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.45);
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-pct-cell {
    width: $load-pct-width;
    text-align: right;
    color: #888;
    text-shadow: -1px -1px rgba(0,0,0,.3);
    font-size: 12px;
}

.load-files-header {
    width: $load-files-width;
    text-align: right;
}
.load-files-cell {
    width: $load-files-width;
    text-align: right;
    color: #888;
    text-shadow: 0 -1px rgba(0,0,0,.3);
    font-size: 12px;
    padding-right: 12px;
}



@keyframes check-grow {
    100%{
        height: 24px;
        width: 24px;
    }
}



.little-icon {
    color: white;
    display: inline-flex;
    height: 16px;
    width: 16px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 300;
    margin-right: 6px;
}

.bottom-bar{
    padding: 8px 0;
    transition: .2s;
    &.retracted {
        transform: translateX(-100%);
        button, .button {
            &::after {
                border-color: transparent;
            }
        }
    }
}


button, .button {
    border: 1px solid transparent;
    // margin: 12px 0;
    background: transparent;
    margin-right: -1px;
    outline: none;
    color: #555;
    padding: 8px 12px;
    font-size: 14px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: .2s;
    * { transition: .2s }
    * { background: #a4a4a4 }
    border-radius: 5px;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        height: 20px;
        width: 1px;
        position: absolute;
        right: -1px;
        border-right: 1px solid #ccc;
    }
    &:hover{
        &::after{
            border: none;
        }
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        background: white;
        color: black;
        // border: 1px solid #ccc;
        // color: rgb(0, 153, 255);
        * { background: rgb(0, 153, 255); }

        &.green {
            * { background: mediumseagreen; }
        }
        &.red {
            * { background: tomato; }
        } 
    }
}

.button-cta {
    transition: .2s;
    color: #3eadf7;
    border: 1px solid #3eadf7;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 8px;
    font-weight: 300;
    &:hover {
        background: rgba(62, 173, 247, .1);
    }
}

